<p id="notice"><%= notice %></p>

<h1>Slides</h1>

<table>

  <tbody>
    <% @slides.each do |slide| %>
      <tr>
        <td><%= slide.name %></td>
        <td><%= slide.desc_left %></td>
        <td><%= image_tag slide.picture.url(:medium) %></td>
        <td><%= slide.desc_right %></td>
        <td><%= link_to 'Show', slide %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Slide', new_slide_path %>
